html {
  background: url(../images/80s-rainbow-galaxy.jpeg) repeat-y center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: white;
  /* background-color: black; */
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

h3 {
  font-family: 'Press Start 2P', sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: auto;
    /* clear: right; */
    /* clear: both;
    display: block; */
    /* float: left; */
    /* background: gray;
    background: linear-gradient(to bottom, #eeeeee 1%,#c9b1af 25%,#cc5f5f 100%); */
}

header .logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

nav ul {
  background: transparent !important;
  text-align: center;
    width: 35%;
    text-align: center;
}

nav ul.left {
    float: left;
}

nav ul.right {
  float: right;
}

table {
  width: 50%;
}

.bio-info {
  width: 600px;
  height: auto;
}

.wrapper {
  width: 1200px;
  height: auto;
  float: left;
  padding: 100px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}

.tourdate{
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  color: pink;
  font-size: 36px;
}

.tourlocale{
  text-align: center;

}

/* Filter script here */
.container {
    overflow: hidden;
}

.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

.filterDiv img{
width: 100%;
height: auto;
display: block;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.albums {
  padding: 20px;
  margin-top: 100px;
}

.album-shelf {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imagegallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
